<div class="navbar-white d-flex">
  <%= link_to cocktails_path do  %>
    <div class="d-flex align-items-end">
    <div><%= image_tag 'https://image.flaticon.com/icons/svg/920/920700.svg', style: 'height:40px;width:auto;' %></div>
    <div><h3>CocktailsIt</h3></div>
   </div>
  <% end %>

  <div class="button-sunset"><%= link_to 'Add a cocktail', new_cocktail_path %></div>
</div>

<div class="show-background">
  <div class="container pt-4 my-0">
      <div class="show-display">
        <h1>Add a cocktail !</h1>
        <%= simple_form_for [@cocktail] do |f|%>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit %>
      <% end %>
      </div>
  </div>
</div>

