<%= render 'shared/navbar' %>

<div class="show-background">
  <div class="container marge-up my-0">
      <div class="show-display">
        <h1>Add a cocktail !</h1>
        <%= simple_form_for [@cocktail] do |f|%>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit %>
      <% end %>
      </div>
  </div>
</div>

