<div class="navbar navbar-white d-flex">
  <%= link_to cocktails_path do  %>
    <div class="d-flex align-items-end">
    <div><%= image_tag 'https://image.flaticon.com/icons/svg/920/920700.svg', style: 'height:40px;width:auto;' %></div>
    <div><h3>CocktailsIt</h3></div>
   </div>
  <% end %>

  <div class="button-sunset"><%= link_to 'Add a cocktail', new_cocktail_path %></div>
</div>

<div class="show-background">
  <div class="container d-flex justify-content-between sticky">
      <div class="show-display cocktail-content">
        <h1 id="title"><%= @cocktail.name %></h1>
        <% @cocktail.doses.each do |dose| %>
        <ul class="ml-4">
          <li><%= "#{dose.description} #{dose.ingredient.name}"  %></li>
        </ul>
        <% end %>
      </div>
      <div class="show-display add-dose">
        <h3>Think it misses something ?</h3>
        <p>Add an ingredient !</p>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
          <%= f.submit  %>
        <% end %>
      </div>


  </div>
</div>
