<div class="navbar navbar-white d-flex">
  <%= link_to cocktails_path do  %>
    <div class="d-flex align-items-end">
    <div><%= image_tag 'https://image.flaticon.com/icons/svg/920/920700.svg', style: 'height:40px;width:auto;' %></div>
    <div><h3>CocktailsIt</h3></div>
   </div>
  <% end %>

  <div class="button-sunset"><%= link_to 'Add a cocktail', new_cocktail_path %></div>
</div>

<div class="show-background">
  <div class="container pt-4 my-0">
    <div class="d-flex justify-content-between ">
      <div class="show-display large-box">
        <h1 id="title"><%= @cocktail.name %></h1>
        <% @cocktail.doses.each do |dose| %>
        <ul class="ml-4">
          <li><%= "#{dose.description} #{dose.ingredient.name}"  %></li>
        </ul>
        <% end %>
      </div>
      <div class="show-display small-box">
        <h3>Think it misses something ?</h3>
        <p>Add an ingredient !</p>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
          <%= f.submit  %>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="show-display large-box">
        <h3>All the reviews</h3>
        <% @cocktail.reviews.each do |review| %>
        <ul class="ml-4">
          <li><%= "#{review.rating} - #{review.content}"%></li>
        </ul>
        <% end %>

      </div>
      <div class="show-display small-box">
        <h3>You tried it already ?</h3>
        <p>Let us know what you think !</p>
        <%= simple_form_for [@cocktail, @review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating %>
          <%= f.submit  %>
        <% end %>
      </div>
    </div>


  </div>
</div>
